.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-product-button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.product-list {
  padding: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
  }

  .add-product-button {
    margin-top: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }
}
